<div class="container">
    <div class="row page-header">
        <div class="col-12">
            <h1>About me - Jason Lo</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3">

            <img src="content/images/jasonLo.png" alt="picture of me" width="100%">

        </div>
        <div class="col-9">
            <p>
                Hello! My name is Jason Lo and I am currently a Software Engineering Technology student at Centennial College.
            </p>

            <p>
                I joined Centennial after spending 8 years in Accounting and Finance as a licensed CPA-CA. But I've always harboured a deep passion for technology... 
                and ultimately I decided to take the plunge, switch careers, and learn how to code! So far, there have been no regrets and I have loved my learning 
                journey, picking up multiple languages at Centennial and also supplementing my education with further independent learning via Udemy. Please feel 
                free to <a href="/contact"> contact me</a>... I am actively looking for mentors, and I'd love to chat on opportunities in Technology. 
            </p>

            <p>
                For more details on me, check out my key links below!
                <ul>
                    <li><a href="/content/JasonLo_SoftEngTech_Resume.pdf" download>Resume</a></li>
                    <li><a href="https://github.com/JasonCMLo">Github</a></li>
                    <li><a href="https://www.codewars.com/users/Lantorel">Code Wars</a></li>
                </ul>
            </p>
        </div>
    </div>
</div>