<div class="container">
    <div class="row page-header">
        <div class="col-12">

            <h1>Welcome to my Personal Website!</h1>
            
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>Hello! My name is Jason</h2>
            <p>Thank you for visiting my personal website. Here you will find a bit of information about how I am starting my career as a Full Stack Developer.</p>
            <ul>
                <li>
                    Visit my <a href="/about">about</a> page for more information on me
                </li>
                <li>
                    I have some personal and academic projects listed in my <a href="/projects">projects</a> page
                </li>
                <li>
                    Based on my education and past career as an accountant, I can offer a few <a href="/services">services</a> to help your organization
                </li>
                <li>
                    Fee free to <a href="/contact">contact me</a> if you see anything interesting
                </li>
            </ul>

        </div>
    </div>
    <div class="row">
    
        <div class="col-12">
            <h2>Mission Statement</h2>
            <p>To build fun and interesting applications to make peoples' lives easier.</p>
        </div>
    </div>

</div>