
<div class="container">

    <div class="row">
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username: </label>
                <input type="text" class="form-control" id="username">
                
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password: </label>
                <input type="text" class="form-control" id="password">
                
            </div>
        
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        
          <p>
            For testing purposes, please use the following user account:
            <ul>
                <li>Username: Jason</li>
                <li>Password: 12345</li>
            </ul>
          </p>

    </div>
    

</div>





