<div class="container">
  <div class="row page-header">
    <div class="col-12">
      <h1>Welcome to my Personal Website!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="login" id="contentArea">
        <h1 class="display-4">Login</h1>

        <form method="POST" id="loginForm" novalidate>
          <div class="mb-3">
            <label for="username" class="form-label">Username: </label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password: </label>
            <input
              type="text"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="text-center">
            <button
              id="loginButton"
              type="submit"
              class="btn btn-primary btn-lg"
            >
              <i class="fas fa-sign-in-alt"></i> Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <br>
        For testing purposes, please use the following user account:
        <ul>
            <li>Username: Jason</li>
            <li>Password: 12345</li>
        </ul>
    </p>
    </div>
  </div>
</div>
