<div class="container">
    <div class="row page-header">
        <div class="col-lg-12">
          <h1>Projects</h1>
          <p>
            I've completed a few personal projects through school and personal interest. Details below!
    
        </p>
        </div>
      </div>

      <!-- Projects are separated into a number of Bootstrap cards with an image and brief blurb on the project -->

    <div class="row">          
        <div class="col-lg-6"> 
            <div class="card">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <img src="content/images/projects-body.jpg" alt="image of a human anatomy body"  width="100%" height="auto">
                        </div>
                        
                        <div class="col-9">
                            <div class="card-body">
                                <h5 class="card-title">Personal Project - BoWell</h5>
                                <p class="card-text">Web application to track diet and GI Health. Intended to visualize linkages between GI issues and historical meals. Currently supports full CRUD operations to handle data logging.</p>
                                <p class="card-text">Tech Stack:
                                    <ul>
                                        <li>JavaScript (Express, NodeJS, EJS)</li>
                                        <li>Mongo Atlas</li>
                                        <li>Heroku</li>
                                    </ul>
                                </p>
                                <a href="https://github.com/JasonCMLo/BoWell" class="btn btn-primary">Github Link</a>
                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <img src="content/images/projects-leaf.jpg" class="card-img-top" alt="Image of a leaf" width="100%" height="auto">
                        </div>

                        <div class="col-9">
                            <div class="card-body">
                                <h5 class="card-title">Bug catching game</h5>
                                <p class="card-text">As a student in COMP125, our capstone project was to create an interactive web-based game that allows users to catch bugs on a leaf. Functionality extended via random spawn points, a live score tracker and increasing difficulty. Achieved 100% on the project and an overall grade of A+ in the course</p>
                                <p class="card-text">Tech Stack:
                                    <ul>
                                        <li>JavaScript (jQuery)</li>
                                    </ul>
                                </p>
                                </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <img src="content/images/projects-documentation.jpg" class="card-img-top" alt="image of a macbook keyboard">

                    </div>
                    
                    
                    <div class="col-9">
                        <div class="card-body">
                            <h5 class="card-title">SRS Documentation</h5>
                            <p class="card-text">As a team of four students, wrote and presented formal documentation on a hypothetical VR platform to support VR based training / exposure therapy as a part of term project for COMP225-S22 term. Achieved a 98% on the project and an overall grade of A+ in the course.</p>
                            </div>
                    </div>
                </div>
            </div>
            </div>
        </div>


    </div>
</div>